<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WaPo - Performance Report</title>
    <link rel="stylesheet" href="res/style.css">
</head>
<body>
    <div class="main-screen">
        <div class="nav">
            <a href="/list"><button id="list-button"><img src="res/img/list.svg" height="100%" width="100%" alt="Not Found"></button></a>
            <a href="/add"><button id="add-button"><img src="res/img/add.svg" height="100%" width="100%" alt="Not Found"></button></a>
            <a href="/search"><button id="search-button"><img src="res/img/search.svg" height="100%" width="100%" alt="Not Found"></button></a>
            <a href="/delete"><button id="delete-button"><img src="res/img/delete.svg" height="100%" width="100%" alt="Not Found"></button></a>
            <a href="/update"><button id="update-button"><img src="res/img/update.svg" height="100%" width="100%" alt="Not Found"></button></a>
            <a href="/"><button id="logout-button"><img src="res/img/logout.svg" height="100%" width="100%" alt="Not Found"></button></a>
        </div>
        <div class="action-screen">